/*CSS document*/

body {
	font-family: eb-garamond,serif;
	font-weight: 400;
	font-style: normal;
}

header {
	margin-bottom:2em;
}

p {
	font-family: eb-garamond,serif;
}

img {
	width: 100%;
}

h1 {
	max-width: 8em;
}

h3 {
	font-size: 1.5em;
	color: #6C969D;
	text-transform: lowercase;
}

h3:hover {
	text-decoration: underline;
}

h2 {
	font-size: 1.8em;
	color: #6C969D;
	font-family: minerva-modern,sans-serif;
	
}

h2, h3, h4, nav {
	font-family: minerva-modern,sans-serif;
	font-weight: 400;
	font-style: normal;
}

div.container {
    max-width: 60em;
    margin: auto;
}

section {
	max-width: 40em;
	margin: 0 auto 3em;
}

figure {
    margin: 0;
}

figcaption {
	margin-bottom: 2em;
}

ul {
	text-decoration: none;
    list-style-type: none;
    padding: .8em;
}

ul li {
	text-transform: lowercase;
	color: #fff;
	margin: 2em;
	display: inline;
}

nav a:hover { /*just nav text is colored here, not all anchor elements*/
	color: #6C969D;
}

a {
	text-decoration: none;
	color: #191102;
}

footer {
	text-align: center;
	font-family: minerva-modern,sans-serif;
}

@media screen and (min-width: 60em) {
	
	div.container {
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-gap: 0 1em;
	}
	
	header {
		grid-column: 1/3;
	}

	main {
		grid-column: 1/2;
		display: grid;
		grid-template-columns: repeat(3,1fr);
		grid-gap: 0 1em;
	}
	
	section.mainStory {
		grid-column: 2/4;
		grid-row: 1/3;
	}
	
	aside {
		grid-column: 2/3;
	}
	
	footer {
		grid-column: 1/3;
		background-color: #8C5E58;
		color: #fff;
	}
	
}